<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".PetCareApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetCare">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".AddEditPetActivity"
            android:exported="false" />
        <activity
            android:name=".AddTaskActivity"
            android:exported="false" />
        <activity
            android:name=".TasksActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ChecklistActivity"
            android:exported="false" />
        <activity
            android:name=".ExpensesActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".AddExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".DelegateContactActivity"
            android:exported="false" />
        <activity
            android:name=".PetHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".PetDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".LocationsActivity"
            android:exported="false" />

        <activity
            android:name=".LocationMapActivity"
            android:exported="false" />

        <activity
            android:name=".ShareReceiverActivity"
            android:theme="@style/Theme.Material3.DayNight.Dialog"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="Open in PetCare">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="petcare" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
